asgiref
caer
click
contourpy
crispy-bootstrap5
cycler
Django
django-cors-headers
django-crispy-forms
djangorestframework
fonttools
gunicorn
h11
kiwisolver
matplotlib
mypy
mypy-extensions
numpy
opencv-contrib-python
opencv-python
packaging
pillow
pyparsing
python-dateutil
python-dotenv
six
sqlparse
typing_extensions
uvicorn
whitenoise
